<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is register page</h1>
    <form action="/register" method="POST" >
        <label for="name">Student full name:</label>
        <input name="name" type="text"/>
        <label for="reg">Registration number:</label>
        <input name="reg" type="text"/>
        <button type="submit" name="register" value="register"> register</button>
    </form>
</body>
</html>